	
    html {
        width: 100%;
		height: 100%;
		margin: 0;
        padding: 0;
	}

    body {
        width: 100%;
		height: 100%;
        padding: 0;
        margin: 0;
    }

    html, body {
		background-color: #E5E5E5;
        color: #333;
        font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial, sans-serif, FontAwesome;
/*		font-family: RobotoDraft, sans-serif, FontAwesome;*/
/*		font-family: RobotoDraft, sans-serif, Arial, Helvetica, 'Font-Awesome';*/
/*		font-family: 'RobotoDraft', sans-serif, 'Font-Awesome';*/
/*		font-family: fantasy, sans-serif;*/
/*		font: 10pt 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
	}

    .hidden {
        display: none;
    }

	core-header-panel {
/*		height: 15%;*/
		height: 95px;
        min-height: 95px;
/*		overflow: auto;*/
		-webkit-overflow-scrolling: touch;
        vertical-align: top;
	}


    core-icon {
        color: azure;
        width: 32px;
        height: 32px;
    }

/*
    core-icon[icon="layers"] {
        color: azure;
        width: 32px;
        height: 32px;
    }
    core-icon[icon="videocam"] {
        color: azure;
        width: 32px;
        height: 32px;
    }
    core-icon[icon="signal-wifi-0-bar"] {
        color: azure;
        width: 32px;
        height: 32px;
    }
    core-icon[icon="signal-wifi-1-bar"] {
        color: azure;
        width: 32px;
        height: 32px;
    }
    core-icon[icon="signal-wifi-2-bar"] {
        color: azure;
        width: 32px;
        height: 32px;
    }
    core-icon[icon="signal-wifi-3-bar"] {
        color: azure;
        width: 32px;
        height: 32px;
    }
    core-icon[icon="signal-wifi-4-bar"] {
        color: azure;
        width: 32px;
        height: 32px;
    }
*/


    label {
/*		background-color: #E5E5E5;*/
        color: #03a9f4;
        font: 10pt 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }

    paper-item.fov {
        
    }

    paper-item.camera {
        
    }

/*
    paper-item {
		background-color: azure;
        color: #03a9f4;
        font: 12pt 'Helvetica Neue', Arial, sans-serif;
    }
*/

    paper-item.sidebarp {
		background-color: white;
        color: #333;
        font: 10pt RobotoDraft, sans-serif;
        text-align: justify;
    }

    paper-item.paperitembutton {
		background-color: white;
        color: #03a9f4;
        font: 12pt 'Helvetica Neue', Helvetica, sans-serif;
    }

    paper-item.paperitemsubtitle {
		background-color: azure;
        color: #03a9f4;
        font: 15pt 'Helvetica Neue', Arial, sans-serif;
    }

    paper-item.paperitemtitle {
		background: #03a9f4;
        color: white;
        font: 18pt RobotoDraft, sans-serif;
        box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
        text-align: center;
    }


	paper-tabs, core-toolbar {
		background: #03a9f4;
		color: white;
        box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
	}

    paper-tabs[noink][nobar] paper-tab.core-selected {
      color: #ffff8d;
    }

    core-toolbar paper-tabs {
      box-shadow: none;
    }

    #themap {
/*        margin-top: 100px;*/
/*        padding-top: 100px;*/
/*        top: 10%;*/
        height: 89%;
/*        height: 89%;*/
        width: 100%;
        vertical-align: bottom;
    }

    #camerasmap {
        height: 100%;
        width: 100%;
    }

    #map {
        height: 100%;
        width: 100%;
    }
/*
    fov-app {
        width: 100%;
        margin: 0;
        height: 100%;
	}
*/

    .sidebar {
        position: fixed;
/*        position: absolute;*/
/*        position: inherit;*/
/*        position: sticky;*/
        left: 10px;
        margin-top: 100px;
        top: 3%;
/*        top: 15%;*/
/*        top: 110px;*/
        bottom: 3%;
/*        bottom: 0;*/
        max-height: 650px;
/*        max-height: 325px;*/
        min-height: 325px;
        height: auto;
/*        height: 325px;*/
/*        height: inherit;*/
/*        max-width: 500px;*/
/*        min-width: 250px;*/
/*        width: auto;*/
        overflow: auto;
/*        overflow: inherit;*/
        overflow-y: auto;
        overflow-x: auto;
        vertical-align: middle;
    }



    paper-spinner.blue::shadow .circle {
        border-color: #4285f4;
    }


	#tabs {
		width: 100%;
/*        max-width: 600px;*/
        min-width: 120px;
/*        min-height: 60px;*/
		margin: 0;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
/*		text-transform: uppercase;*/
	}

    .popup {
/*        max-height: 600px;*/
        max-height: 500px;
/*        max-height: 40%;*/
        min-height: 250px;
/*        height: 300px;*/
        height: auto;
        max-width: 800px;
/*        max-width: 40%;*/
        min-width: 300px;
        width: auto;
/*        display: flex;*/
        overflow: auto;
/*        overflow-y: auto;*/
/*        overflow-y: scroll;*/
/*        overflow-x: auto;*/
    }

    .sidebar-pane {
/*        overflow: auto;*/
/*        overflow-y: auto;*/
/*        overflow-x: auto;*/
    }




    paper-toggle-button.camera::shadow [checked] .toggle-ink {
      color: #4285f4;
    }

    paper-toggle-button.camera::shadow [checked] .toggle {
      background-color: #4285f4;
    }

    paper-toggle-button.camera::shadow [checked] .toggle-button {
      background-color: #9c27b0;
    }

    paper-toggle-button.fov::shadow [checked] .toggle-ink {
      color: #4285f4;
    }

    paper-toggle-button.fov::shadow [checked] .toggle {
      background-color: #4285f4;
    }

    paper-toggle-button.overlay::shadow [checked] .toggle-ink {
      color: #4285f4;
    }

    paper-toggle-button.overlay::shadow [checked] .toggle {
      background-color: #4285f4;
    }

    paper-toggle-button.basemap::shadow [checked] .toggle-ink {
      color: #4285f4;
    }

    paper-toggle-button.basemap::shadow [checked] .toggle {
      background-color: #4285f4;
    }
    
/*
    paper-toggle-button.bluetooth::shadow [checked] .toggle-ink {
      color: #4285f4;
    }

    paper-toggle-button.bluetooth::shadow [checked] .toggle {
      background-color: #4285f4;
    }

    paper-toggle-button.fun::shadow .toggle-ink {
      color: #009688;
    }

    paper-toggle-button.fun::shadow .toggle-bar {
      background-color: #5677fc;
    }

    paper-toggle-button.fun::shadow .toggle-button {
      background-color: #9c27b0;
    }
*/


 paper-input {
      width: 80%;
/*      width: auto;*/
      max-width: 90%;
    }

    paper-input-decorator {
      width: 80%;
/*      width: auto;*/
      max-width: 90%;
    }

    @media only screen and (min-width : 320px) {
      paper-input {
        width: 100%;
      }

      paper-input-decorator {
        max-width: 100%;
      }
    }

    paper-input.narrow {
      width: 150px;
    }


    paper-input-decorator.username {
      color: #1a237e;
    }

    paper-input-decorator.emailaddress {
      color: #0f9d58;
    }

    paper-input-decorator.description {
      color: #f06292;
    }


/*
    .custom /deep/ ::-webkit-input-placeholder {
      color: #f4b400;
    }

    .custom /deep/ ::-moz-placeholder {
      color: #f4b400;
    }

    .custom /deep/ :-ms-input-placeholder {
      color: #f4b400;
    }

    .custom /deep/ .label-text,
    .custom /deep/ .error {
      color: #f4b400;
    }

    .custom /deep/ .unfocused-underline {
      background-color: #f4b400;
    }

    .custom[focused] /deep/ .floated-label .label-text {
      color: #0f9d58;
    }

    .custom /deep/ .focused-underline {
      background-color: #0f9d58;
    }

    .custom.invalid /deep/ .floated-label .label-text,
    .custom /deep/ .error {
      color: #f06292;
    }

    .custom.invalid /deep/ .focused-underline {
      background-color: #f06292;
    }

    .custom {
      color: #1a237e;
    }
*/
























/*
    .leaflet-control-layers .leaflet-control-layers-list, .leaflet-control-layers-expanded .leaflet-control-layers-toggle {
        overflow: auto;
        overflow-y: scroll;
        overflow-x: auto;
    }

    .leaflet-control, .leaflet-control-layers .leaflet-control-layers-list, .leaflet-control-layers-expanded {
        overflow: auto;
        overflow-y: auto;
        overflow-x: auto;
    }

    .leaflet-control {
        overflow: auto;
        overflow-y: auto;
        overflow-x: auto;
    }

    .leaflet-control-layers-expanded {
        overflow: auto;
        overflow-y: auto;
        overflow-x: auto;
    }

    .leaflet-control-layers-overlays {
        overflow: auto;
        overflow-y: auto;
        overflow-x: auto;
    }

    .leaflet-control-layers {
        overflow: auto;
        overflow-y: auto;
        overflow-x: auto;
    }
*/

    .leaflet-control-layers-list {
        max-height: 400px;
        min-height: 250px;
/*        height: 300px;*/
        height: auto;
        max-width: 500px;
        min-width: 250px;
/*        width: auto;*/
/*        overflow: auto;*/
        overflow: inherit;
        overflow-y: auto;
/*        overflow-x: auto;*/
    }

/*
    paper-tab {
        min-width: 100px;
    }
*/

/*
	.container {
		width: 80%;
		margin: 50px auto;
        height: 250px;
	}
*/
/*
	@media (min-width: 481px) {
		#tabs {
			width: 320px;
		}
		.container {
			width: 400px;
		}
	}
*/
    
	